.nav {
  display: flex;
  gap: 16px;
  background-color: purple;
  color: white;
  padding: 10px;
  font-size: 24px;
}

#istocks {
  font-weight: bold;
  font-size: 25px;
}

#dashboard {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  margin: 10px;
}

#dashboard a:visited{
  text-decoration: none;
}

.nav a:link {
  text-decoration: none;
}

.nav a:visited {
  text-decoration: none;
  color: white;
}


