.nav {
  display: flex;
  gap: 16px;
  background-color: purple;
  color: white;
  padding: 10px;
  font-size: 24px;
}

#istocks {
  font-weight: bold;
  font-size: 25px;
}

#dashboard {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  margin: 10px;
}

#dashboard a{
  width: max-content;
}

#dashboard a:visited{
  text-decoration: none;
}

.nav a:link {
  text-decoration: none;
}

.nav a:visited {
  text-decoration: none;
  color: white;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

td, th {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: left;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

